body {
  background-color: #262626;
  margin: 0;
  padding: 0;
}

.element {
  background-image: linear-gradient(#cc2b5e, #753a88);
  margin-left: 1px;
  display: inline-flex;
}
.btn {
  margin: 0 20px;
  color: #03e9f4;
  display: inline-block;
  border: 1px solid #03e9f4;
  border-radius: 10px;
  outline: none;
}
.btn:hover {
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4;
}
/* .selected {
  border: 3px solid #03e9f4; 
   box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4;
} */

.btn:disabled {
  box-shadow: none;
  background-color: #343a40;
  color: #03e9f4;
}
