body {
  background-color: #272727;
  margin: 0;
  padding: 0;
}

.element {
  background-image: linear-gradient(#cc2b5e, #753a88);
  margin-left: 1px;
  display: inline-flex;
}
.btn {
  margin: 0 20px;
  color: white;
  background-image: linear-gradient(#cc2b5e, #753a88);
  /* min-width: 100px; */
}
